.horizontal-list {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.horizontal-item {
  --border-width: 0;
  --border-style: none;
  --padding: 10px !important;
  --inner-padding: 20px !important;
  --background: transparent;
  white-space: nowrap;
}

.menu-items-col {
  display: flex;
  justify-content: center;
}

ion-menu {
  --width: 250px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-button-col {
    display: block !important;
  }

  .menu-items-col {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .menu-button-col {
    display: none !important;
  }

  .menu-items-col {
    display: flex !important;
  }
}

/* Mobile Menu Button Styling */
ion-menu-button {
  --color: #000;
  font-size: 1.5rem;
}

.home-title {
  cursor: pointer;
}