<ion-menu
  menuId="main-menu"
  contentId="main-content"
>
  <ion-header inert>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      @for (item of menuItems; track $index) {
      <ion-menu-toggle auto-hide="true">
        <ion-item
          [routerLink]="item.url"
          [detail]="false"
        >
          {{ item.title }}
        </ion-item>
      </ion-menu-toggle>
      }
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Main header content -->
<ion-header id="main-content">
  <ion-toolbar>
    <ion-grid class="ion-no-padding">
      <ion-row
        class="ion-align-items-center"
        style="min-height: 56px;"
      >
        <!-- Mobile Menu Button -->
        <ion-col
          size="2"
          class="menu-button-col ion-text-center"
        >
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-col>

        <!-- App Title -->
        <ion-col
          size="3"
          class="ion-hide-md-down"
        >
          <ion-title
            class="ion-text-center home-title"
            [routerLink]="''"
          >Ecommerce App</ion-title>
        </ion-col>

        <!-- Searchbar -->
        <ion-col
          size="4"
          class="ion-hide-md-down"
        >
          <searchbar></searchbar>
        </ion-col>

        <!-- Desktop Menu Items -->
        <ion-col
          size="3"
          class="menu-items-col ion-hide-md-down"
        >
          <ion-list class="horizontal-list">
            @for (item of menuItems; track $index) {
            <ion-item
              [routerLink]="item.url"
              [detail]="false"
              class="horizontal-item"
            >
              {{ item.title }}
            </ion-item>
            }
          </ion-list>
        </ion-col>

        <!-- Action Buttons -->
        <ion-col
          size="4"
          size-md="2"
          class="ion-text-center"
        >
          <ion-button
            fill="clear"
            class="ion-hide-md-down"
          >Cart</ion-button>
          <app-button
            [text]="'login'"
            class="ion-hide-md-down"
          ></app-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>